body{
    font-size: 18px;
    color: #2D3748;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,'Helvetica Neue', Arial, "Noto Sans", sans-serif;
    box-sizing: border-box;
    margin:0 auto;
    max-width: 960px;
    width: 960px;
   

}
 
      

#bug{
    float:left;
    line-height: 2px;
    padding:10px;
    
}

.center{
    line-height: 1px;
    padding:10px;
    margin: 0;
}


header{
    background-color: black;
    color: white;
    padding: 15px; 
    line-height: 2px;
    width: 100%;
}

.issue{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-column-gap: 10px; */
    grid-row-gap: 10px;
}

main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-column-gap: 10px; */
    grid-row-gap: 10px;
}

.article{
   justify-content: center;
   padding-left:25px; 
}

input{
    width: 500px;
    margin-bottom: -10px;
    padding-bottom: 10px;
}
form{
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
}

.submit{
    width: 80px;
    background-color: blue;
    color: white;
    padding: 8px;
    margin-top: 10px;
    border-radius: 5px;
}

#right{
    float:left; 
}
.asideBar{
    width: 30%;
    float: right;
    display: flex;
    text-align: right;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 21px;
    /* position: relative;
    top: -460px */
  }

.display{

    padding: 30px;
    padding-right:25px;
    margin-right: 45px;
    margin-right: 45px;
}

nav{

    width: 165px;
    height: 830px;
    z-index: 1;
    top: 25; 
    left:0; 
    float: left;
    position: relative;
    overflow-x: hidden;
    
    background-color:rgb(209, 209, 209);
   
    

}
.tab-content{
    padding: 10px;
}
.section{
    display: grid;
    grid-template-areas:
    'tabs tab-content tab-content tab-content asideBar'
    'tabs tab-content tab-content tab-content asideBar'
    'tabs tab-content tab-content tab-content asideBar'

}
.bar{
    border: 1px solid; 
    padding: 10px;
    border-color: black;
    border-radius: 5px;
    width: 160px;
    height: auto;
    background-color: rgb(209, 209, 209);
    text-align: left;
    font-size: 14px;

    
}

.lineHeight{
    line-height: 0.2px;
}
.buttons{
    padding: 15px;
    margin-top: 10px;
    margin-left: -15px;
}
.blue{
     background-color: #5A67D8; 
     border: #5A67D8; ; 
     border-radius: 5px;
     width: 12em;
     height:3em;
     padding: 15px;

}
.tabs a{
    text-decoration: none;
}
.green{
    background-color: rgb(60, 218, 21);
    border-radius: 5px;
    border: rgb(60, 218, 21);
    padding: 15px;
    width: 12em;
     height:3em;
}
.mainNav a{
    
    color: black;
    display: block;
    text-decoration: none;
    padding: 15px;
}

.mainNav a:hover{
    color: rgb(26, 22, 22);

}


/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: blue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color:lightblue
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
   
    padding: 20px;
  }

/*Shadowboxes for Create Issue form*/
input, textarea, select{
    box-shadow: 1px 1px 1px 1px #888888;
    
  }